.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;

  }
  
  .pianoWrapper {
    width: 100%;
    height: 50%;
  }
  
  .notesDisplay {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Desktop Styles */
  @media (min-width: 768px) {
    .pianoWrapper {
      height: 500px;
      max-width: 100%; /* Full width for desktop */
    }
  }
  
  /* Mobile Styles */
  @media (max-width: 900px) {
    .container {
      padding: 10px;
      position: absolute;
      z-index: 2;
      top:0;
      right: 0;
      left: 0;
      bottom: 0;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      float: inline-end;
    }
  
    .pianoWrapper {
      padding: 10px;
      rotate:90deg;
      width: 100vh;
      height: 100%; /* Use 50% of the screen height */
    }
  
    .notesDisplay {
      height: 50%;
      overflow-y: auto;
      padding: 10px;
    }
  }
  
  .ReactPiano__Key--active {
    background: #f00;  /* Change the default active key color to bright red */
  }
  
  .ReactPiano__Key--accidental {
    background: #000;  /* Change accidental keys to be completely black */
  }